In [ ]:
import pandas as pd
import numpy as np

#import utk tokenizing
import nltk
nltk.download("punkt")

#install utk stemming
!pip install Sastrawi
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory
factory = StemmerFactory()
stemmer = factory.create_stemmer()

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
Requirement already satisfied: Sastrawi in /usr/local/lib/python3.7/dist-packages (1.0.1)

In [ ]:
!pip install xlsxwriter
!pip install xlrd
!pip install openpyxl

Requirement already satisfied: xlsxwriter in /usr/local/lib/python3.7/dist-packages (1.4.3)
Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (1.1.0)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.7/dist-packages (2.5.9)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.1.0)
Requirement already satisfied: jdcal in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.4.1)

In [ ]:
soal1 = pd.read_excel("/content/drive/MyDrive/PER-TA-AN DUNIAWI/Data/42-01/ISI3F4-SI-42-01-Quiz 1 - Pengantar Business Intelligence-responses.xlsx")
soal2 = pd.read_excel("/content/drive/MyDrive/PER-TA-AN DUNIAWI/Data/42-01/ISI3F4-SI-42-01-Quiz 2 - Pengenalan Data-responses.xlsx")
soal3 = pd.read_excel("/content/drive/MyDrive/PER-TA-AN DUNIAWI/Data/42-01/ISI3F4-SI-42-01-Quiz 3 - Konsep Statistik dan Analitika Data-responses.xlsx")
soal4 = pd.read_excel("/content/drive/MyDrive/PER-TA-AN DUNIAWI/Data/42-01/ISI3F4-SI-42-01-Quiz 4 - Reporting Data-responses.xlsx")
soal5 = pd.read_excel("/content/drive/MyDrive/PER-TA-AN DUNIAWI/Data/42-01/ISI3F4-SI-42-01-Quiz 5 - Perancangan Dashboard-responses.xlsx")
soal6 = pd.read_excel("/content/drive/MyDrive/PER-TA-AN DUNIAWI/Data/42-01/ISI3F4-SI-42-01-Quiz 6 - Pengantar Data Warehouse-responses.xlsx")
soal7 = pd.read_excel("/content/drive/MyDrive/PER-TA-AN DUNIAWI/Data/42-01/ISI3F4-SI-42-01-Quiz 7 - Pengembangan Data Warehouse-responses.xlsx")
soal8 = pd.read_excel("/content/drive/MyDrive/PER-TA-AN DUNIAWI/Data/42-01/ISI3F4-SI-42-01-Quiz 8 - Pengukuran Kinerja-responses.xlsx")
soal9 = pd.read_excel("/content/drive/MyDrive/PER-TA-AN DUNIAWI/Data/42-01/ISI3F4-SI-42-02-Quiz 9 - Data Mining-responses.xlsx")
soal10 = pd.read_excel("/content/drive/MyDrive/PER-TA-AN DUNIAWI/Data/42-01/ISI3F4-SI-42-01-Quiz 10 - Metode Data Mining-responses.xlsx")
soal11 = pd.read_excel("/content/drive/MyDrive/PER-TA-AN DUNIAWI/Data/42-01/ISI3F4-SI-42-01-Quiz 11 - Big Data-responses.xlsx")

In [ ]:
soal1.head()

           Surname First name  ...            Response 5        Right answer 5
0   HERIANTO MANIK      YUSUF  ...                  OLTP                  OLTP
1   HERIANTO MANIK      YUSUF  ...      Data Development      Data Development
2  HUDYA RIZFIANTO     FAIZAL  ...      Data Development      Data Development
3       PRABASWARA       RAFI  ...                1970an                1970an
4    SYUKRON KAMIL   MUHAMMAD  ...  Business Intelligent  Business Intelligent

[5 rows x 24 columns]

In [ ]:
#import library to manipulate file
import os

#mengarahkan path ke folder file
cwd = os.path.abspath("/content/drive/MyDrive/PER-TA-AN DUNIAWI/Data/42-01")

#melihat isi file
files = os.listdir(cwd)

In [ ]:
#create a pandas excel writer using xlsxwriter as the engine
writer = pd.ExcelWriter('soalgab.xlsx', engine='xlsxwriter')
writer.save()
gab = pd.read_excel(writer)
print(gab)

Empty DataFrame
Columns: []
Index: []

In [ ]:
#combine the dataframe
frames = [soal1,soal2,soal3,soal4,soal5,soal6,soal7,soal8,soal9,soal10,soal11]

#delete the first row of all frames except the first
frames[1:] = [df[1:] for df in frames[1:]]

#concat excels
combined = pd.concat(frames)

#write to new file
combined.to_excel("soalgab.xlsx", index=False)
df = pd.read_excel("soalgab.xlsx")
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 655 entries, 0 to 654
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Surname         655 non-null    object
 1   First name      655 non-null    object
 2   ID number       655 non-null    int64
 3   Email address   655 non-null    object
 4   State           655 non-null    object
 5   Started on      655 non-null    object
 6   Completed       655 non-null    object
 7   Time taken      655 non-null    object
 8   Grade/10.00     655 non-null    object
 9   Question 1      655 non-null    object
 10  Response 1      655 non-null    object
 11  Right answer 1  655 non-null    object
 12  Question 2      655 non-null    object
 13  Response 2      655 non-null    object
 14  Right answer 2  655 non-null    object
 15  Question 3      655 non-null    object
 16  Response 3      655 non-null    object
 17  Right answer 3  655 non-null    object
 18  Question 4      655 non-null    object
 19  Response 4      655 non-null    object
 20  Right answer 4  655 non-null    object
 21  Question 5      655 non-null    object
 22  Response 5      655 non-null    object
 23  Right answer 5  655 non-null    object
dtypes: int64(1), object(23)
memory usage: 122.9+ KB
None

In [ ]:
q = pd.read_excel("/content/soalgab.xlsx", usecols=['Question 1','Question 2','Question 3','Question 4','Question 5'])
q1 = q['Question 1']
q2 = q['Question 2']
q3 = q['Question 3']
q4 = q['Question 4']
q5 = q['Question 5']
gabsoal = pd.concat([q1,q2,q3,q4,q5],axis=0)
gabsoal

0      Aktor yang bertanggung jawab atas analisis pre...
1      Fokusnya terhadap Enterprise/Executive IS adal...
2      Sistem pemrosesan transaksi yang secara konsta...
3      Komponen yang dikembangkan oleh Gartner dalam ...
4      Fokus utama pengembangan sistem informasi adal...
                             ...
650    Pustaka MapReduce tidak tersedia dalam menyedi...
651    Computional requirement yang Menyatukan perang...
652    Big data challange yang Kemampuan untuk mempro...
653    Big data challange yang Kemampuan untuk mempro...
654    Big data challange yang Kemampuan untuk mengga...
Length: 3275, dtype: object

In [ ]:
#split column
gabsoal = gabsoal.str.split(':').str[0]
print(gabsoal)

0      Aktor yang bertanggung jawab atas analisis pre...
1      Fokusnya terhadap Enterprise/Executive IS adal...
2      Sistem pemrosesan transaksi yang secara konsta...
3      Komponen yang dikembangkan oleh Gartner dalam ...
4      Fokus utama pengembangan sistem informasi adal...
                             ...
650    Pustaka MapReduce tidak tersedia dalam menyedi...
651    Computional requirement yang Menyatukan perang...
652    Big data challange yang Kemampuan untuk mempro...
653    Big data challange yang Kemampuan untuk mempro...
654    Big data challange yang Kemampuan untuk mengga...
Length: 3275, dtype: object

In [ ]:
#drop duplicate
gabsoal.drop_duplicates(keep='first', inplace=True)
print(len(gabsoal))

161

In [ ]:
gabsoal.to_excel('/content/drive/MyDrive/PER-TA-AN DUNIAWI/Data/42-01/Question.xlsx')